<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
<div class="logo">Smart<span>Portal</span></div>

<div class="nav-right">
<a href="/dashboard">Dashboard</a>
<a href="/contact">Contact</a>
</div>
</nav>

<section class="chat-page">

<div class="chat-box">

<h1>About Smart Job Portal</h1>

<p>
Smart Job Portal is an AI powered job website developed using Flask,
SQLite, HTML, CSS and JavaScript.
</p>

<p>
Features:
✔ Job Search  
✔ Resume Analyzer  
✔ Smart Chatbot  
✔ Voice Assistant  
✔ Profile Upload
</p>

<p>
Developed by <b>Adarsh Rathore</b>
</p>

</div>

</section>

<footer class="footer">
Made by <b>Adarsh Rathore</b> © 2026 | Smart Job Portal
</footer>

</body>
</html>