<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Us</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar">
<div class="logo">Smart<span>Portal</span></div>

<div class="nav-right">
<a href="/dashboard">Dashboard</a>
<a href="/about">About</a>
</div>
</nav>

<section class="chat-page">

<div class="chat-box">

<h1>Contact Us</h1>

<p><b>Name:</b> Adarsh Rathore</p>

<p><b>Email:</b> adarshrathore8815@gmail.com</p>

<p><b>Location:</b> Sehore, Madhya Pradesh</p>

<p><b>Phone:</b> 8109533127</p>

</div>

</section>

<footer class="footer">
Made by <b>Adarsh Rathore</b> © 2026 | Smart Job Portal
</footer>

</body>
</html>