<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Job Portal</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<!-- Navbar -->

<nav class="navbar">

<div class="logo">
Smart<span>Portal</span>
</div>

<div class="nav-right">

<div class="nav-item">
<i class="fa-solid fa-rocket"></i>
<p>Top Content</p>
</div>

<div class="nav-item">
<i class="fa-solid fa-user-group"></i>
<p>People</p>
</div>

<div class="nav-item">
<i class="fa-solid fa-book"></i>
<p>Learning</p>
</div>

<div class="nav-item">
<i class="fa-solid fa-briefcase"></i>
<p>Jobs</p>
</div>

<div class="nav-item">
<i class="fa-solid fa-puzzle-piece"></i>
<p>Games</p>
</div>

<div class="nav-item">
<i class="fa-solid fa-laptop"></i>
<p>Get App</p>
</div>

<a href="/register" class="join-btn">Join now</a>

<a href="/login" class="sign-btn">Sign in</a>

</div>

</nav>

<!-- Hero -->

<section class="hero-main">

<div class="left">

<h1>
Explore jobs and grow your professional future
</h1>

<a href="/register">
<button class="blue-btn">
Continue with Google
</button>
</a>

<button class="white-btn">
Continue with Microsoft
</button>

<a href="/login">
<button class="white-btn">
Sign in with Email
</button>
</a>

<p class="terms">
By clicking Continue, you agree to our Terms & Privacy Policy.
</p>

</div>

<div class="right">

<img src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png">

</div>

</section>

</body>
</html>