<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CareerVerse AI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div id="loader">

<h1>CareerVerse AI 🚀</h1>
<p>Loading Future...</p>

</div>
    
<div class="particles">

<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

</div>

<div class="blur1"></div>
<div class="blur2"></div>

<nav class="navbar glass">

<div class="logo">
Career<span>Verse AI</span>
</div>

<div class="nav-right">
<a href="#features">Features</a>
<a href="#skills">Skills</a>
<a href="/jobs">Jobs</a>
<a href="/login" class="sign-btn">Login</a>
</div>

</nav>

<section class="hero premium-hero">

<div class="hero-left">

<h1>Build Your Future With AI 🚀</h1>

<p class="typing-text">
Find Jobs • Build Resume • Learn Skills • Grow Faster 🚀
</p>

<a href="/register">
<button class="blue-btn big-btn">Get Started Free</button>
</a>

</div>

<div class="hero-right">

<div class="glass-card">
<h3>💼 10K+ Jobs</h3>
<p>Top companies hiring now</p>
</div>

<div class="glass-card">
<h3>🤖 AI Assistant</h3>
<p>Career chatbot support</p>
</div>

<div class="glass-card">
<h3>📈 Growth</h3>
<p>Learn in-demand skills</p>
</div>

</div>

</section>

<section id="features" class="info-section">

<h2>Why CareerVerse?</h2>

<div class="stats-grid">

<div class="stat-card">
<h3>Resume AI</h3>
<p>Boost your resume instantly</p>
</div>

<div class="stat-card">
<h3>Smart Jobs</h3>
<p>Daily fresh opportunities</p>
</div>

<div class="stat-card">
<h3>Voice Chatbot</h3>
<p>Talk and get guidance</p>
</div>

</div>

</section>

<section class="logo-strip">

<h2>Trusted By Top Companies</h2>

<div class="logo-track">

<span>Google</span>
<span>Amazon</span>
<span>TCS</span>
<span>Infosys</span>
<span>Wipro</span>
<span>Microsoft</span>
<span>Accenture</span>
<span>IBM</span>

</div>

</section>

<footer class="footer">
Made by <b>Adarsh Rathore</b> © 2026
</footer>

<div class="cursor-glow"></div>

<script>

const glow = document.querySelector(".cursor-glow");

document.addEventListener("mousemove", (e)=>{

glow.style.left = e.pageX + "px";
glow.style.top = e.pageY + "px";

});

</script>

<script>

window.addEventListener("load", function(){

setTimeout(function(){

document.getElementById("loader").style.display = "none";

}, 2000);

});

</script>

</body>
</html>

# git add .
 #git commit -m "first commit"
 #git branch -M main
 # git push